
.main {
    margin-bottom: 35px;
}

/*
#dark-div, #grey-div{
    display: none;
}*/


.display-item{
    padding: 31px 8px 0px;
}

.display-item .vertical-show {
    justify-content: center;
    display: flex;
}
.display-item .vertical-show .part2{
    justify-content: center;
    display: none;
}


.display-item .vertical-show img{
    width:42%;
    
    
}
.display-item .vertical-show div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 11px;
    cursor: pointer;

}
.display-item .vertical-show div:hover{
    box-shadow: 0px 0px 9px 1px #000000;

}


.preview-image{
    padding-top: 31px;
    display: flex;
    align-self: center;
}

.preview-image:hover{
    /*border: 1px solid black;*/
    box-shadow: 0px 0px 9px 1px black;
}

.preview-image img{
    display: none;
    width: 100%
}

.display-item .item-details{
    padding-left: 27px;
   
}
.display-item .item-details span{
    font-size: calc(2em + .8vmin);
    font-weight: bold;
   
}

.display-item .item-details .specs .item-color .dot{
    
    height: 25px;
    width: 25px;
   
    border-radius: 50%;
    
    display: inline-block;
    cursor: pointer;
    
}

.display-item .item-details .specs .item-color .dot:hover{
    
    box-shadow: 0px 0px 9px 1px black;
    
}


.item-details .specs .color p,.item-mrp{
    font-weight: bold;
    
}
#black{
    
    background-color: black;
    
}
#dark{
    
    background-color: grey;
    
}
#grey{
    
    background-color: lightgrey;
    
}
#blue{
    background-color: #2c264e;
}



